---
layout: page
---
<div class="post">
  <article>
    {% if page.profiles %}
      <div class="team-grid">
      {% for profile in page.profiles %}
        <div class="team-member">
          {% if profile.image %}
            <div class="team-member-image">
              {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
              {% if profile.image_circular %}
                {% assign profile_image_class = 'team-member-img rounded-circle' %}
              {% else %}
                {% assign profile_image_class = 'team-member-img' %}
              {% endif %}
              {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class alt=profile.name %}
            </div>
          {% endif %}
          
          <div class="team-member-data">
            {% if profile.name %}
              <h3 class="team-member-name">{{ profile.name }}</h3>
            {% endif %}
            
            {% if profile.role %}
              <div class="team-member-role">{{ profile.role }}</div>
            {% endif %}
            
            {% if profile.info %}
              <div class="team-member-info">{{ profile.info }}</div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
      </div>
    {% endif %}
  </article>
</div>
